<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Gather</title>
  <link href="https://fonts.googleapis.com/css?family=IBM+Plex+Sans:400,400i,700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/css/style.css">
</head>

<body class="flex-column min-100-vh">
  <nav class="navbar">
    <ul class="flex-row">
      <li class="li-inline nav-item"><a href="/">Home</a></li>
      <li class="li-inline nav-item"><a href="/dashboard">Dashboard</a></li>
      <li class="li-inline nav-item"><a href="#" id="logout-link">Logout</a></li>
    </ul>
  </nav>
  <header class="hero">
    <h1 class="app-title"><a href="/dashboard">Your Dashboard</a></h1>
  </header>

  <main class="col-auto">
    {{{body}}}
  </main>

  <footer class="footer flex-row justify-center">
    <a href="/dashboard/new">➕ New Post</a>
  </footer>
</body>

{{!-- JESSIE --}}
{{#if blogposts.length}}
  <div class="col-md-6 project-list">
    <h3>Posts:</h3>

    {{#each blogposts as |blogpost|}}
    <div class="row mb-2">
      <div class="col-md-8">
        <h4><a href="/blogpost/{{blogpost.id}}">{{blogpost.title}}</a></h4>
      </div>
      <div class="col-md-4">
        <button onclick="handleDelete(event)" class="btn btn-sm btn-danger" data-id="{{blogpost.id}}">DELETE</button>
      </div>
    </div>
    {{/each}}
  </div>
  {{/if}}
</div>

<script src="./js/comment.js"></script>
{{!-- JESSIE ends --}}

<script src="/js/logout.js"></script>

</html>