

<div>
    <label for="post-Id">Post Name</label>
    <input type="text" name="post-id">
</div>

<div>
    <label for="post-title">Title</label>
    <input type="text" name="post-title">
</div>
<div>
    <label for="post-body">Post</label>
    <input type="textarea" name="post-body">
</div>
<div>
    <label for="edit-post-form">Edit</label>
    <button type="submit" id="edit-post-form" class="btn">Edit</button>
</div>
<div>
    <button type="button" id="delete-btn" class="btn">Delete</button>
</div>

<script src="/js/edit.js"></script>













{{!-- <form class="login-form">
    <div>
        <label for="post-id">Post Name</label>
        <input type="text"  name="post-id">
    </div>
    <div>
        <label for="comment-body">Comment</label>
        <input type="text" name="comment-body">
    </div>
    <div>
        <label for="new-comment-form">New Comment</label>
        <input type="text" name="new-comment-form">
    </div>
    <div>
        <button type="submit">Add</button>
    </div>
</form> --}}

{{!-- name,id=delete-btn, id="edit-post-form"  --}}
{{!-- this is for comment.js --}}















<script src="/public/js/edit.js"></script>