<div class="card">
    <h3 class="card-header">Edit Post</h3>
    <form class="card-body edit-post-form">
        <input type="hidden" name="post-id" value="{{post.id}}">
        <label for="post-title" class="form-label">Title</label>
        <input name="post-title" type="text" value="{{post.title}}" class="form-input" />
        <label class="form-label" for="content">Content</label>
        <input name="content" type="text" value="{{post.body}}" class="form-input" />
        <button type="submit" class="btn" id="edit-post-form">Update Post</button>
        <button type="button" class="delete-post-btn btn" id="delete-btn">Delete Post</button>
    </form>
</div>


<script src="/js/edit.js"></script>













{{!-- <form class="login-form">
    <div>
        <label for="post-id">Post Name</label>
        <input type="text"  name="post-id">
    </div>
    <div>
        <label for="comment-body">Comment</label>
        <input type="text" name="comment-body">
    </div>
    <div>
        <label for="new-comment-form">New Comment</label>
        <input type="text" name="new-comment-form">
    </div>
    <div>
        <button type="submit">Add</button>
    </div>
</form> --}}

{{!-- name,id=delete-btn, id="edit-post-form"  --}}
{{!-- this is for comment.js --}}















<script src="/public/js/edit.js"></script>