<div class="map-main ">
      <div class="controls">
        <div class="address-line container">
            <input id="address" type="text" onfocus="this.value=''" placeholder="Enter address to search" />
            <button class="search-button" onclick="geocodeAddress()">Search</button>  
        </div>
        <div class="form">
          <div class="results">
                <label for="name">Name:</label>          
                <input id="name" type="text" readonly />
                <label for="house-number">House number:</label>          
                <input id="house-number" type="text" readonly />
                <label for="street">Street:</label>          
                <input id="street" type="text" readonly />
                <label for="postcode">Postcode:</label>          
                <input id="postcode" type="text" readonly />
                <label for="city">City:</label>          
                <input id="city" type="text" readonly />
                <label for="state">State:</label>          
                <input id="state" type="text" readonly />
                <label for="country">Country:</label>          
                <input id="country" type="text" readonly />
          </div>
          <div class="status">
            <span id="status">Enter address and press "Geocode" button</span>
          </div>
        </div>
      </div>