<div>
    <label for="post-title">Title</label>
    <input type="text" name="post-title">
</div>
<div>
    <label for="post-body">Text</label>
    <input type="textarea" name="post-body">
</div>
<div>
    <label for="new-post-form">New Post</label>
    <button type="submit" id="new-post-form" class="btn">New Post</button>
</div>

<script src="/js/new.js"></script>