<div class="card">
    <div class="card-header">
        <h2>Create New Post</h2>
    </div>
    <form class="card-body" id="new-post-form">
        <label class="form-label" for="post-title">Title</label>
        <input class="form-input" type="text" name="post-title"/>

        <label class="form-label" for="post-body">Content</label>
        <textarea class="form-input" name ="post-body"></textarea>
        
        <button type="submit" class="btn">Create</button>
    </form>
</div>

<script src="/js/new.js"></script> 